<p><b>1 phút quảng cáo</b></p>
<ul>
  <li>Bạn đang mong muốn tìm kiếm cơ hội mới</li>
  <li>Bạn muốn làm việc với những công nghệ big data tối tân nhất.</li>
  <li>Xài serveless tốn kém quá với chậm chạp, bạn có thể tự build & publish cho hơn 500 anh em TIKI xài.</li>
</ul>

Đến ngay với team data nhé: <a href="https://tuyendung.tiki.vn/job/senior-data-engineer-data-platform-2082" target="_blank">JD đây nè</a> (Hoặc gửi CV vào mail mình <a href="mailto:hien.pham2@tiki.vn">hien.pham2@tiki.vn</a> )
